.nav {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 5%;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: transparent;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.nav__logo {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  gap: 80px;
  padding: 20px 0;
}

.nav__item {
  text-decoration: none;
  color: black;
  font-size: 25px;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.nav__item:hover {
  color: #494949;
}

.nav__item::after {
  content: '';
  width: 0%;
  background-color: black;
  height: 2px;
  margin: 2px;
  border-radius: 20px;
  display: block;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

.nav__item:hover::after {
  width: 100%;
}

.nav__logo {
  width: 11em;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.main__separator {
  height: 110px;
  width: 100%;
}

.main__landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10%;
  font-family: 'Lato', sans-serif;
  padding: 0 10%;
}

.main__readmore {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-radius: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 23px;
  text-decoration: none;
  font-size: 32px;
}

.main__readmore--black {
  background-color: black;
  color: white;
}

.main__readmore--black:hover {
  color: #e4e4e4;
}

.main__readmore--white {
  background-color: white;
  color: black;
}

.main__readmore--white:hover {
  color: #585858;
}

.main__section {
  width: 100%;
  height: 840px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__road {
  background: linear-gradient(269.97deg, #000000 40.63%, rgba(0, 0, 0, 0) 87.5%), url(../imgs/trasybg.webp);
}

.main__priceList {
  background: linear-gradient(269.93deg, rgba(0, 0, 0, 0) 11.58%, rgba(1, 35, 85, 0) 11.58%, rgba(1, 35, 85, 0) 11.59%, #04318E 57.09%), url(../imgs/cennikbg.webp);
}

.main__vehicles {
  background: linear-gradient(269.7deg, #C0947E 41.36%, rgba(0, 0, 0, 0) 87.37%), url(../imgs/pojazdybg.webp);
}

.main__contact {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.landing__text {
  text-align: justify;
  font-size: 30px;
  line-height: 170%;
  z-index: 2;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: justify;
  width: 100%;
  gap: 20px;
}

.section__content--right {
  padding-right: 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section__content--left {
  padding-left: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section__heading {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 110px;
  color: white;
}

.section__heading--black {
  color: black;
}

.section__text {
  width: 50%;
  line-height: 180%;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
}

.section__text--center {
  text-align: center;
  color: black;
}

.section__text--black {
  color: black;
}
/*# sourceMappingURL=main.css.map */