.nav{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: transparent;
    transition: background 0.1s linear;
    &__logo{
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    &__list{
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 80px;
        padding: 20px 0;
    }
    &__item{
        text-decoration: none;
        color: black;
        font-size: 25px;
        transition: color 0.1s ease-in ;
    }
    &__item:hover{
        color: rgb(73, 73, 73);
    }
    &__item::after{
        content: '';
        width: 0%;
        background-color: black;
        height: 2px;
        margin: 2px;
        border-radius: 20px;
        display: block;
        transition: width 0.1s linear;
    }
    &__item:hover::after{
        width: 100%;
    }
    &__logo{
        width: 11em;
    }
}