* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

.submain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.submain__separator {
  height: 100px;
  width: 100%;
}

.submain__heading {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-size: 100px;
}

.submain__heading--blue::after {
  content: "";
  background-color: #83c3ff;
  height: 7px;
  width: 200px;
  display: block;
  border-radius: 17px;
  margin: 0 auto;
}

.submain__heading--red::after {
  content: "";
  background-color: #ff8383;
  height: 7px;
  width: 200px;
  display: block;
  border-radius: 17px;
  margin: 0 auto;
}

.submain__paragraph {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  width: 50%;
  text-align: justify;
  line-height: 160%;
}

.submain__paragraph--center {
  margin: 20px 0;
  text-align: center;
  line-height: 170%;
  width: 40%;
}

.submain__paragraph--nomargin {
  margin: 5px 0;
  font-family: "Montserrat", sans-serif;
}

.submain__list {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  text-align: justify;
  line-height: 160%;
  width: 45%;
}

.submain__listItem--ordered {
  margin: 20px 0;
}

.submain__breakline {
  margin: 20px 0;
}

.submain__photo {
  margin: 30px;
  -webkit-box-shadow: 0px 7px 37px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 7px 37px 1px rgba(0, 0, 0, 0.25);
}

.submain__href {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: #ff3232;
}

.submain__href:hover {
  color: #e67878;
}

.submain__href:visited {
  color: #83c3ff;
}

.map__country {
  cursor: pointer;
}

.map__country:hover {
  stroke: #ff4242;
  stroke-width: 5px;
}

.table {
  table-layout: fixed;
  width: 50%;
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table__caption {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 55px;
  margin: 30px 0;
}

.table__cell {
  width: 50px;
  padding: 15px;
  font-size: 25px;
  line-height: 170%;
}

.table__cell:nth-child(even) {
  text-align: center;
}

.table__cell:nth-child(odd) {
  font-weight: bold;
}

.table__heading {
  color: white;
  background-color: #ff4242;
  font-size: 35px;
  padding: 20px 0;
}

.table__heading:first-child {
  border-top-left-radius: 20px;
}

.table__heading:last-child {
  border-top-right-radius: 20px;
}

.table__row {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.table__row:nth-child(odd) {
  background-color: #f3f3f3;
}

.table__row:last-child {
  border-bottom: 1px solid #eeeeee;
}

.contact {
  font-family: "Montserrat", sans-serif;
}

.contact__infoContainer {
  width: 300%;
}

.form {
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  display: -ms-grid;
  display: grid;
  width: 32%;
}

.form__label {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  margin: 15px 0;
}

.form__input {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 28px;
  background-color: #f1f1f1;
  caret-color: #414141;
  width: 110%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.form__textarea {
  font-family: "Montserrat", sans-serif;
  resize: none;
}

.form__button {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(90.07deg, #FF9898 -12.74%, rgba(255, 43, 43, 0) 104.16%, rgba(255, 158, 158, 0) 104.16%), #FF8383;
  border: none;
  border-radius: 55px;
  color: white;
  font-size: 30px;
  padding: 10px 45px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.05s linear;
  transition: -webkit-transform 0.05s linear;
  transition: transform 0.05s linear;
  transition: transform 0.05s linear, -webkit-transform 0.05s linear;
}

.form__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=submain.css.map */