* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}
.submain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  &__separator {
    height: 100px;
    width: 100%;
  }
  &__heading {
    font-family: "Titillium Web", sans-serif;
    text-align: center;
    font-size: 100px;
    &--blue::after {
      content: "";
      background-color: #83c3ff;
      height: 7px;
      width: 200px;
      display: block;
      border-radius: 17px;
      margin: 0 auto;
    }
    &--red::after {
        content: "";
        background-color: #FF8383;
        height: 7px;
        width: 200px;
        display: block;
        border-radius: 17px;
        margin: 0 auto;
      }
  }
  &__paragraph {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    width: 50%;
    text-align: justify;
    line-height: 160%;
    &--center{
        margin: 20px 0;
        text-align: center;
        line-height: 170%;
        width: 40%;
    }
  }
  &__list {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    text-align: justify;
    line-height: 160%;
    width: 45%;
  }
  &__breakline {
    margin: 20px 0;
  }
  &__photo{
      margin: 30px;
      box-shadow: 0px 7px 37px 1px rgba(0, 0, 0, 0.25);
  }
}
.map {
  &__country {
    cursor: pointer;
    &:hover {
      stroke: #ff4242;
      stroke-width: 5px;
    }
  }
}
.table{
    width: 50%;
    &__caption{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 65px;
    }
}